img {
  height: 150px;
}

img:hover {
  cursor: pointer;
}

body {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 255, 255, 0.9));
    background-image: url('../images/kids-wallpaper-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
  position: relative;
  margin-left: 5px;
  margin-right: auto;
}

#mobileSupportButtons {
  display: none;
}

#gameSideBox {
  height: 540px;
  width: 500px;
  float: left;
  margin-left: 150px;
  margin-top: 50px;
  text-align: center;
  display: block;
  position: relative;
  box-shadow: 0px 0px 50px black;
}

#gameInfoContainer {
  display: flex;
  font-size: 20pt;
}

.infoValue {
  font-weight: bold;
  height: 100px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  box-shadow: 5px 5px 10px black;
  color: black;
}

.playerTitle {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.playerSelected {
  -webkit-animation: select 4s infinite linear; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: select 4s infinite linear; /* Firefox < 16 */
}

@keyframes select {
  50% {-webkit-transform: rotateY(180deg);}
}

#playerIconChooser {
  width: 530px;
  height: 300px;
  margin-top: 10px;
  display: flex;
}

#modalTriggerLose,
#modalTriggerWin,
#modalTriggerStart {
  display: none;
}

#easy,
#hard {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

#medium {
  margin-left: 100px;
  margin-right: 100px;
}

.playerRow {
  width: 450px;
  height: 300px;
  flex-direction: row;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.playerIcon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.modal-content {
  margin-right: 0px;
}

.modal-title {
  border-bottom: 0px solid white;
  font-weight: bolder;
}

.modal-body h2 {
  text-align: left;
}

.modal-body h1,
.modal-footer h1 {
  text-align: center;
}

.modal-body span {
  text-align: right;
  font-weight: normal;
  font-size: 16pt;
}

.modal-footer {
  border-top: 0px;
  display: inline;
}

.lostLife {
  -webkit-animation: loselife .5s infinite linear; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: loselife .5s infinite linear; /* Firefox < 16 */
}

@keyframes loselife {
   0% {text-shadow: 0px 0px 1px black;}
   50% {text-shadow: 0px 0px 5px white;}
   100% {text-shadow: 0px 0px 0px black;}
}

#time {
  font-weight: normal;
}

#score {
  font-weight: normal;
}

#lives {
  font-weight: normal;
}

@media screen and (max-width: 1025px) {
  body {
    background-size: auto;
    background-repeat: repeat-y;
    font-size: 12pt;
  }

  canvas {
    margin-left: 0;
  }

  #gameSideBox {
    width: 250px;
    margin-left: 25px;
  }

  .infoValue {
    font-size: 12pt;
    height: 50px;
  }

  #playerIconChooser {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    display: flex;
  }

  #mobileSupportButtons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    width: auto;
    font-size: 35pt;
  }

  #mobileSupportButtons table {
    margin-left: auto;
    margin-right: auto;
  }

  .touchButtons {
    background: lightgrey;
    padding: 45px;
    box-shadow: 2px 2px 10px black;
  }

  .buttonPress {
    color: white;
    border: 5px inset lightgrey;
  }
}
@media screen and (max-width: 768px) {
  #gameSideBox {
    margin-left: 0px;
  }
}
@media screen and (max-width: 415px) {
  canvas {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    order: 1;
    flex-direction: column;
  }

  img {
    height: 75px;
  }

  #medium {
    margin-left: 25px;
    margin-right: 25px;
  }

  #gameSideBox {
    display: flex;
    order: 2;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 300px;
    height: 200px;
    float: none;
  }

  #playerIconChooser {
    width: 225px;
    height: 300px;
    margin-top: 0px;
    display: flex;
  }

  #gameSideBox h2 {
    font-size: 16pt;
  }

  #mobileSupportButtons {
    margin-top: 0;
  }

  .playerRow {
    width: 200px;
    height: 100px;
  }

  .playerTitle {
    float: none;
    margin-bottom: 0px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .playerIcon {
    position: relative;
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
  }

  .infoValue {
    box-shadow: 0px 0px 0px black;
  }

  #startGameButton,
  .resetGameButton {
    padding: 25px;
  }

  .touchButtons {
    width: 100px;
    background: lightgrey;
    padding: 15px;
    box-shadow: 2px 2px 10px black;
  }
}
